# Created by .ignore support plugin (hsz.mobi)

COP4331_Project.iml
.idea
out

# Leaves the example files in the repo, no need to overwrite for now
src/database/users.xml
src/database/bands.xml
src/database/musicians.xml
src/database/messages.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

